.bg-iol-800 {
    background-color: #156a99 !important;
}

.mapbox iframe {
    padding: 0;
}

.demo iframe {
    height: 120% !important;
    margin-top: -50px !important;
}

.small iframe {
    margin-top: -50px !important;
}

.mapbox {
    position: relative;
    overflow: hidden;
}

.mapbox:after {
    content: "";
    position: absolute;
    left: 0;
    background: #000;
    height: 100%;
    z-index: 999;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
}

.mapbox .icon {
    z-index: 1000;
}

.ritz .waffle a {
    color: inherit;
}

/******************************************************************/

.ritz .waffle .tx {
    font-size: 0 !important;
}

.ritz .waffle .tx:before {
    content: "-";
    font-size: 0;
    font-weight: bold;
    background: #fff;
    width: 5px;
    display: inline-block;
    height: 5px;
    opacity: 1;
    border-radius: 50%;
    overflow: hidden;
}

.ritz .waffle .s4 {
    background-color: #ff0000;
    text-align: center;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s5 {
    background-color: #ffbf60;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
    min-width: 30px;
}

.ritz .waffle .s10 {
    background-color: #808080;
    text-align: center;
    color: #d9d9d9;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s8 {
    background-color: #996633;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s0 {
    background-color: #204559;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s9 {
    background-color: #7030a0;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s2 {
    /* border-right: 1px DOUBLE #a6a6a6; */
    /* background-color: #204559; */
    /* text-align: center; */
    /* color: #ffffff; */
    vertical-align: middle;
    /* direction: ltr; */
}

.ritz .waffle .s11 {
    background-color: #8abbd5;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s13 {
    background-color: #ec987b;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s1 {
    background-color: #204559;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s12 {
    background-color: #996633;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s7 {
    background-color: #ec987b;
    text-align: center;
    color: #f2f2f2;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s6 {
    text-align: center;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz .waffle .s3 {
    background-color: #92d050;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    direction: ltr;
}

.row-headers-background {
    display: none !important;
}

.ritz2 .waffle a {
    color: inherit;
}

.ritz2 .waffle .s10 {
    text-align: center;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s19 {
    line-break: auto;
}

.ritz2 .waffle .s15 {
    text-align: center;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s9 {
    text-align: center;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s16 {
    text-align: right;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s21 {
    text-align: center;
    font-weight: bold;
    color: #ff0000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s8 {
    text-align: center;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s22 {
    text-align: center;
    color: #ff0000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s4 {
    border-right: none;
    text-align: left;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s5 {
    border-left: none;
    text-align: center;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s12 {
    background-color: #ffff00;
    text-align: left;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s11 {
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s14 {
    text-align: left;
    font-weight: bold;
    color: #ff0000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s0 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s2 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    vertical-align: top;
    direction: ltr;
}

.ritz2 .waffle .s17 {
    text-align: left;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s13 {
    background-color: #ffff00;
    text-align: left;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s1 {
    text-align: left;
    color: #0000ff;
    font-size: 9pt;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s20 {
    background-color: #d9d9d9;
    text-align: center;
    font-weight: bold;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s3 {
    text-align: left;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s7 {
    text-align: center;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s18 {
    background-color: #ffff00;
    text-align: center;
    color: #0000ff;
    vertical-align: middle;
    direction: ltr;
}

.ritz2 .waffle .s6 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    direction: ltr;
}

/************************************/

.ritz3 .waffle a {
    color: inherit;
}

.ritz3 .waffle .s5 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s6 {
    text-align: right;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s0 {
    text-align: left;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s10 {
    background-color: #ffff00;
    text-align: left;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s1 {
    text-align: right;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s7 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s3 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s2 {
    background-color: #ffff00;
    text-align: right;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s8 {
    background-color: #ffff00;
    text-align: left;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s9 {
    background-color: #ffff00;
    text-align: right;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s4 {
    text-align: left;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s11 {
    border-right: none;
    text-align: left;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

.ritz3 .waffle .s12 {
    border-left: none;
    text-align: left;
    color: #000000;
    vertical-align: middle;
    vertical-align: middle;
    direction: ltr;
    vertical-align: middle;
}

/****************************************/